__pycache__/
.ipynb_checkpoints/

figures/*
!figures/.gitkeep

results/*
!results/.gitkeep

datasets/**/raw/
datasets/**/*.h5ad
datasets/**/*.h5Seurat
datasets/**/*.mtx
datasets/**/*.mtx.gz
datasets/**/*.tsv.gz
datasets/**/*.csv
datasets/**/*.csv.gz
datasets/**/*.parquet
datasets/**/*.pkl
datasets/**/*.npz
datasets/**/*.tar
datasets/**/*.Rds
datasets/**/*.xlsx

*.log
*.pth
events.out.tfevents.*
